/*---------------------------------------------*/
/* Utility
/*---------------------------------------------*/

/* Position
-----------------------------------------------*/

.left-position {
  position: absolute;
  left: 0;
}

.right-position {
  position: absolute;
  right: 0;
}

