/*---------------------------------------------*/
/* Utility
/*---------------------------------------------*/

/* Text
-----------------------------------------------*/

.text-thin {
  font-weight: lighter;
}

.text-thick {
  font-weight: bolder;
}

