/*---------------------------------------------*/
/* Foundation
/*---------------------------------------------*/

/* Base
-----------------------------------------------*/

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #fff;
  text-align: center;
  font-family: Roboto, sans-serif;
}

