/*---------------------------------------------*/
/* Component
/*---------------------------------------------*/

/* Board
-----------------------------------------------*/

.board {
  .board-heading {
    @extend .blue-grey-text, .text-thick;
    font-size: 10em;
    text-transform: uppercase;
    text-shadow: 3px 3px 0 rgba(255, 255, 255, .5);
  }
  .board-text {
    @extend .blue-grey-text;
    font-size: 2em;
  }
  .board-btn {
    @extend .waves-effect, .waves-light, .btn-large;
  }
}

