/*---------------------------------------------*/
/* Project
/*---------------------------------------------*/

/* Index
-----------------------------------------------*/

.welcome {
  @extend .amber;
  position: relative;
  height: 800px;
  .welcome-board {
    position: absolute;
    top: calc(50% - 400px / 2);
    left: 0;
    width: 100%;
    height: 400px;
    .board-heading {
      @extend .white-text;
    }
    .board-text {
      @extend .white-text;
    }
    .board-btn {
    }
  }
}

.about {
  @extend .white;
  .about-board {
    .board-heading {
      font-size: 5em;
    }
  }
}

.work {
  @extend .yellow;
  padding: 30px 0;
  .work-list {
    @extend .row, .container;
    .list-item {
      @extend .col, .s12, .m4;
      .card {
        @extend .white, .blue-grey-text;
        .card-title {
          @extend .black-text;
        }
        .card-text {
        }
      }
    }
  }
  .work-pager {
    @extend .container, .valign-wrapper;
    .pager-content {
      @extend .valign, .center-block;
    }
  }
}

