<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Temput" %></title>

    <%= stylesheet_link_tag "normalize", "all" %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body class="<%= page_classes %>">
    
    <header class="navbar-fixed">
      <nav class="header-nav">
        <div class="nav-wrapper container">
          <a href="#" class="brand-logo">Temput</a>
          <ul id="nav-mobile" class="global-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">About Me</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <main class="main">
      <%= yield %>
    </main>
    
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col s4">
            <a href="#">
              <i class="fa fa-twitter"></i>
              <span class="share">Twitterでつぶやく</span>
            </a>
          </div>
          <div class="col s4">
            <a href="#">
              <i class="fa fa-facebook"></i>
              <span class="share">Facebookでシェア</span>
            </a>
          </div>
          <div class="col s4">
            <a href="#">
              <i class="fa fa-star"></i>
              <span class="share">ブックマークに追加</span>
            </a>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2015 Copyright Temput
        </div>
      <div>
    </footer>
  
  </body>
</html>
