/*---------------------------------------------*/
/* Layout
/*---------------------------------------------*/

/* Footer
-----------------------------------------------*/

footer {
  &.page-footer {
    @extend .blue-grey.lighten-5, .blue-grey-text.text-darken-1;
    margin: 0;
    .footer-copyright {
      @extend .blue-grey.lighten-4;
    }
  }
}

