/*---------------------------------------------*/
/* Layout
/*---------------------------------------------*/

/* Header
-----------------------------------------------*/

header {
  .header-nav {
    @extend .white, .opacity;
    .brand-logo {
      @extend .left-position, .blue-grey-text.text-darken-4, .text-thin;
    }
    .global-nav {
      @extend .right, .hide-on-med-and-down;
      a {
        @extend .blue-grey-text.text-darken-4, .text-thin;
      }
    }
  }
}

