---
title: Item List
---

<div class="work-list list">
  <% 10.times do |n| %>
  <div class="list-item">
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          Card Title
        </span>
        <p class="card-text">
          I am a very simple card. I am good at containing small bits of information.I am convenient because I require little markup to use effectively.
        </p>
      </div>
    </div>
  </div>
  <% end %>
</div>
<div class="work-pager pager">
  <div class="pager-content">
    <ul class="pagination">
      <li class="waves-effect"><a href="#!"><i class="fa fa-chevron-left"></i></a></li>
      <% for n in 1..10 %>
        <% if n == 1 then %>
        <li class="active"><a href="#!"><%= n %></a></li>
        <% else %>
        <li class="waves-effect"><a href="#!"><%= n %></a></li>
        <% end %>
      <% end %>
      <li class="waves-effect"><a href="#!"><i class="fa fa-chevron-right"></i></a></li>
    </ul>
  </div>
</div>
