---
title: Welcome Page
---

<div class="welcome">
  <div class="welcome-board board">
    <h1 class="board-heading">
      Welcome
    </h1>
    <p class="board-text">
      Hello, Hello, Hello!
    </p>
    <button class="board-btn">
      Click! Clink! Click!
    </button>
  </div>
</div>

<div class="about">
  <div class="about-board board">
    <h1 class="board-heading">
      About Me
    </h1>
    <p class="board-text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </div>
</div>

<div class="work">
  <%= partial "itemlist" %>
</div>
